<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static %}
    <link rel="stylesheet" href="">
</head>
<body>
    <h1 class="pricetext1" >THIS ARE OUR PRICING</h1>
   
        
    <div class="prices">   
    <div  id="paymentpaln" class="basic">
        <h3 class="paymentopt">Basic</h3>
        <p class="price" >$0.00</p>
        <div class="feature1">
            <h4 class="flistt">
                Features
            </h4>
            <ul class="ulflist">
                <li class="flist">
                    Expense note 
                </li>
                <li class="flist">
                    budget setting 
                </li>
                <li class="flist">
                    budget reminder
                </li>
                <li class="flist">
                    income report
                </li>
            </ul>
        </div>
        <button class="paybtn" type="">Pay us</button>

       
    </div>
    <div id="paymentpaln"  class="yearly">
        <h3 class="paymentopt">Pro</h3>
        <p class="price" >$5.99</p> 
        <div class="feature1">
            <h4 class="flistt">
                Features
            </h4>
            <ul class="ulflist">
                <li class="flist">
                    Everything in Basic plan
                </li>
                <li class="flist">
                    Investment tracking
                </li>
                <li class="flist">
                    Tax calculation
                   
                </li>
                <li class="flist">
                    Bank account intergration
                </li>
           
            </ul>
        </div> 
        <button class="paybtn" type="">Pay us</button>
        
    </div>
    <!-- <div id="paymentpaln"  class="annually">
        <h3 class="paymentopt"></h3>
        <h1 class="price" >$98.99</h1
    </div>

</div> -->

</div> 
</body>
</html>