<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moneygazer</title>
    {%load static%}
    <script  src="{% static 'legal/darkmode.js'%}" defer></script>
    <link rel="icon" href="{% static 'legal/moneygazer.jpg'%}">
    <link rel="stylesheet" static href="{% static 'legal/sytle.css' %}">

</head>
<body>  
  {%load static%}
     <header class="navbar"><h1><img static src="{%static 'legal/moneygazer.jpg'%}" alt="no">Moneygazer</h1>
   
        <button  id="themeswicth" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>
       </header>

  <div class="title"> <h1>Privacy Policy for Money Gazer</h1> </div>
    <div class="Introduction">  <h2>1. Introduction At Money Gazer</h2>
        <p> we are committed to protecting the privacy and security of your personal 
          information. This Privacy Policy explains how we collect, use, and 
          safeguard your data when you use our company purpose. </p></div>
    <div class="information">  <h2> 2. Information We Collect</h2>
   <p> We may collect the following types of 
    personal information from you: - Contact Information: Your name, 
    email address, and phone number. - Usage Data: Information about 
    how you use the app, company name including your IP address, browser type, 
    and device information. 
    Financial Information: If you link your bank accounttional us or make transactions, we may collect your financial data, 
    such as account numbers and transaction details. - Other 
    Information: Any other information you choose to provide, such as 
    <div class="Useinformation">  <h2> 3. How We Use Your Information </h2>
        <p> We may use your personal information for the following purposes: - 
          Providing and Improving Our Services: To deliver the company name app 
          and enhance your user experience. 
          - Communication: To respond to 
          your inquiries, send updates, and provide customer support. - 
          Personalization: To customize the app’s content and features based 
          on your preferences and interests.
           - Analytics: To analyze how 
          users interact with our app to improve its performance and 
          functionality. - Legal Compliance: To comply with applicable laws 
          and regulations.  </p></div>
    <div class="sharinginformation">  <h2>4. Sharing Your Information </h2>
        <p>We may share your personal information with the following parties: -
          Service 
          Providers: Third-party vendors who assist us in operating the 
           Money Gazer app and providing services to you. - Affiliates: Our 
          parent company, subsidiaries, or other affiliated entities.
           - Legal 
          Authorities: When required by law or to protect our rights, property, 
          or safety.</p></div>
    <div class="datasercurity"> <h2> 5. Data Security </h2>
        <p>We implement appropriate technical and 
          organizational measures to protect your personal information from 
          unauthorized access, disclosure, or misuse. However, no method of 
          transmission over the internet or electronic storage is 100% secure, 
          and we cannot guarantee absolute security.  </p></div>
    <div class="right">  <h2>6. Your Rights and choice</h2>
        <p> You have the right to access, correct, or delete your personal 
          information, as well as the right to opt-out of certain data processing 
          activities. To exercise these rights, please contact us using the 
          information provided in the Contact Us section. </p></div>
     <div class="change">  <h2>7. Changes to  this Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to 
          time. We will notify you of any changes by posting the new Privacy 
          Policy on the  Money Gazer app and updating the "Last Updated" date at the 
          top of this document. </p></div>
     <div class="conctactus">  <h2>8. Contact Us</h2>
        <p> If you have any questions or concerns about our Privacy Policy or our data practices, please contact 
          us at: Money Gazer
          Email: support@Moneygazer.com 
          using Money Gazer, you acknowledge that you have read and understood this 
          Privacy Policy. Thank you for trusting us with your company purpos 
          needs!</p></div>
</body>
</html> 